/* Basic styling */

body {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    background: black;
    padding: 0px 20px;
}

a {
    color: white;
    text-decoration: none;
}

nav li:hover {
    border-bottom: 4px solid #006d6d;
}

.logo:hover {
    border-bottom: 0;
}

.logo img {
    height: 60px;
    width: 60px;
}

.logo a {
    text-decoration: none;
}

.menu li {
    font-size: 17px;
    padding: 15px 5px;
}

.button.secondary {
    border-bottom: 1px #444 solid;
}

.button.primary {
    border-bottom: 0px;
}


/* Mobile menu */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.toggle {
    order: 1;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}

.hero-image {
    background-image: url('../../assets/images/heroimage.png');
    height: 444px;
    width: 100%;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    text-align: center;
}

footer {
    background-color: black;
    padding: 64px 127px;
    height: auto;
}

footer li {
    color: white;
    margin-bottom: 10px;
}

footer ul {
    padding-right: 25px;
}

.footer-item {
    list-style-type: none;
}

.footer-item.title {
    color: rgb(82, 82, 93);
}

.socialicons {
    padding-top: 50px;
}

.socialicons img {
    height: 200px;
    width: 200px;
}

.socialicons ul {
    display: flex;
    list-style-type: none;
}

.socialicons a {
    padding: 7px 7px;
}

.socialicons svg {
    fill: white;
}

.hero-text {
    position: absolute;
    top: 20%;
    font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
    font-size: 32px;
    width: 300px;
}

.email {
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 23px;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    width: 300px;
}

.form__label {
    font-size: 15px;
}

.hero-text button {
    padding: 7.5px 15px;
    background: teal;
    border: 1px #006d6d solid;
    color: white;
    font-size: 15px;
}

.services__title {
    display: inline;
    text-align: center;
}

.product {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
    border-radius: 6px;
    background-color: white;
}

.product-header__img {
    width: 100%;
    max-height: 260px;
}

.services {
    padding: 80px 10%;
}

.services__products {
    text-align: center;
}

.product {
    width: 80%;
    margin: 50px auto;
}

.product-body {
    padding: 10px 10px;
}


/* Tablet menu */

@media (min-width: 600px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .toggle {
        flex: 1;
        text-align: right;
    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
        padding: 7.5px 15px;
        background: teal;
        border: 1px #006d6d solid;
    }
    .button.secondary a {
        background: transparent;
    }
    .button a:hover {
        text-decoration: none;
    }
    .button:not(.secondary) a:hover {
        background: #006d6d;
        border-color: #005959;
    }
    .button.secondary a:hover {
        color: #ddd;
    }
    .footer-nav {
        display: inline;
    }
    .socialicons {
        display: inline;
    }
    .hero-image {
        display: flex;
        justify-content: center;
        text-align: center;
        height: 644px;
    }
    .hero-text {
        position: absolute;
        top: 20%;
        font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
        font-size: 52px;
        width: 600px;
    }
    .email {
        width: 100%;
        border: 0;
        border-bottom: 2px solid gray;
        outline: 0;
        font-size: 23px;
        color: black;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
        width: 300px;
    }
    .form__label {
        font-size: 15px;
    }
    .hero-text button {
        padding: 7.5px 15px;
        background: teal;
        border: 1px #006d6d solid;
        color: white;
        font-size: 15px;
    }
    .services {
        padding: 100px 10%;
    }
    .services__products {
        text-align: center;
    }
    .product {
        width: 80%;
        margin: 50px auto;
    }
    .product-body {
        padding: 10px 10px;
    }
}


/* Desktop menu */

@media (min-width: 900px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
    .footer-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .socialicons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .hero-image {
        display: flex;
        justify-content: flex-end;
        height: 744px;
    }
    .hero-text {
        position: absolute;
        top: 20%;
        font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
        font-size: 52px;
        width: 600px;
    }
    .email {
        font-family: inherit;
        width: 100%;
        border: 0;
        border-bottom: 2px solid gray;
        outline: 0;
        font-size: 23px;
        color: black;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
        width: 400px;
    }
    .form__label {
        font-size: 15px;
    }
    .hero-text button {
        padding: 7.5px 15px;
        background: teal;
        border: 1px #006d6d solid;
        color: white;
        font-size: 15px;
    }
    .services {
        height: 744px;
        padding: 120px 10%;
        background-color: rgb(238, 238, 240);
    }
    .services__title {
        font-size: 28px;
    }
    .services__products {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
    }
    .product {
        border: 1px solid #d3d3d3;
        width: 30%;
        margin: 50px 20px;
        display: inline-block;
    }
    .product-body {
        padding: 10px 10px;
    }
}