/* Basic styling */

body {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    background: black;
    padding: 0px 20px;
}

a {
    color: white;
    text-decoration: none;
}

nav li:hover {
    border-bottom: 4px solid #006d6d;
}

.logo:hover {
    border-bottom: 0;
}

.logo img {
    height: 60px;
    width: 60px;
}

.logo a {
    text-decoration: none;
}

.menu li {
    font-size: 17px;
    padding: 15px 5px;
}

.button.secondary {
    border-bottom: 1px #444 solid;
}

.button.primary {
    border-bottom: 0px;
}


/* Mobile menu */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.toggle {
    order: 1;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}

footer {
    background-color: black;
    padding: 64px 127px;
    height: auto;
}

footer li {
    color: white;
    margin-bottom: 10px;
}

footer ul {
    padding-right: 25px;
}

.footer-item {
    list-style-type: none;
}

.footer-item.title {
    color: rgb(82, 82, 93);
}


/* Tablet menu */

@media (min-width: 600px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .toggle {
        flex: 1;
        text-align: right;
    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
        padding: 7.5px 15px;
        background: teal;
        border: 1px #006d6d solid;
    }
    .button.secondary a {
        background: transparent;
    }
    .button a:hover {
        text-decoration: none;
    }
    .button:not(.secondary) a:hover {
        background: #006d6d;
        border-color: #005959;
    }
    .button.secondary a:hover {
        color: #ddd;
    }
    .footer-nav {
        display: inline;
    }
}


/* Desktop menu */

@media (min-width: 900px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
    .footer-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}